@font-face {
    font-family: 'Minecraft';
    src: url('minecraft.ttf');
}
body {
    background-image: url("dirt.png");
    color: white;
}
#centertext {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: 'Minecraft';
    font-size:30px;
    text-shadow: 1px 0 40px black;

}
#smallwarning {
    left: 0;
    line-height: 100px;
    margin-top: 1px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: 'Minecraft';
    font-size:15px;
    text-shadow: 1px 0 40px black;
    color: gray;
}
#disclaimer {
    position: absolute;
    bottom: 10px;
    width: 99%;
    color:gray;
    text-align: center;
    font-size: small;
}